@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

body {
  font-family: 'Poppins'
    /*Fonte Web do Google Fonts*/
}

h2 {
  text-align: center;
  margin-top: 60px;
  /*margem superior*/

}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #0e365f;
  /*Cor de fundo*/
  text-align: center;
  /*Alinhamento do texto*/
}

.destaque {
  text-align: center;
  margin-bottom: 50px;

  p {
    font-size: 1.2rem;
    color: #555
  }


}

main {
  max-width: 1200px;
  /*Largura*/
  /*Fixa a Largura*/
  margin: 0px auto 0px auto;
  padding: 40px 20px;

}

/*O Grid Principal na página index*/
.grid-home {
  display: flex;
  /*Muda o padrão de bloco para flexível*/
  flex-wrap: wrap;
  gap: 20px;

  /*Permite a "quebra de linha"*/
  * {
    flex-basis: 270px;
    /*Fixar a largura de cada coluna*/
    flex-grow: 1;
    /*Permitir que ele expanda*/
    flex-shrink: 1;
    /*Permitir que ele reduza*/
  }


}

.Card

/*add um ponto antes do nome para classe*/
  {
  background-color: white;
  /*Cor de fundo branco*/
  text-align: center;
  /*Centralizar o texto*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  /*Sombra*/
  /*Primeira refer. = eixo horizontal; vertical; raio (opacidade).
    rgba: red, green, blue, alfa (significa transparência); pode ir de 0 até 256 cada;*/
  padding-bottom: 15px;
  border-radius: 15px;
  /*cantos arredondados*/
  overflow: hidden;
  /*ocultar as partes da imagem que excedem a borda*/


  img

  /*Imagens dentro do Card*/
    {
    width: 100%;
  }

  p {
    font-size: .95rem;
    /*por padrão se trabalha com pixels, mas o rem é uma unidade de medida que é usada especialmente quando se trabalha com layout expansivo. 1 rem significa que ele é igual ao referencial, aqui seria 16, mas se ele colocar .95, então é menos que 1 rem, seria aqui uns 15 pixels.*/
    padding: 10px;

  }
}

.Card:hover {
  transform: translateY(4px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

/* Estilizar os botões sociais da página */
.social {
  display: flex;
  /*modo flexível porque antes o social era modo bloco, com ele você tem diversas formas de trabalhar, modo expansivo */
  justify-content: center;
  margin-top: 10px;
  gap: 15px;

  a {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    /*Altera a decoração do texto ou link*/
    border-radius: 8px;
    /*Para arredondar os cantos do botão*/
    font-weight: 500;
    /*níveis de negrito na fonte*/
  }

  a:hover {
    transform: translateY(-2px);
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.2)
  }

  a i {
    margin-right: 8px;
    font-size: 1.1rem;
  }

  a:nth-child(1) {
    background-color: #3b5998;
    /*Cor de fundo do Facebook*/
  }

  a:nth-child(2) {
    background-color: #ff0000;
    /*Cor de fundo do Youtube*/
  }

  a:nth-child(3) {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    /*Cor de fundo do Instagram*/
  }

  a:nth-child(4) {
    background-color: #25d366;
    /*Cor de fundo do WhatsApp*/
  }

  a:nth-child(5) {
    background-color: #000;
    /*Cor de fundo do TikTok*/
  }

}

.Voltar {
  text-align: center;
  margin-top: 20px;
}

.grid-clinica {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  * {
    flex-grow: 1;
    /*Vai aumentar o tamanho, se necessário*/
    flex-shrink: 1;
    /*diminuir o tamanho, se necessário*/
    flex-basis: 250px;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  h2 {
    text-align: start;
    margin-top: 0PX;
    margin-bottom: 15PX;
  }

  p {
    font-size: 1rem;
    line-height: 150%;
    /*Espaçamento entre as linhas*/
    margin-bottom: 10px;
  }
}

.voltar {
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  margin-top: 60px;
  font-size: 0.9rem;
  color: #777;
}

.grid-especialidades {
  display: flex;
  /*Muda o padrão de bloco para flexível*/
  flex-wrap: wrap;
  gap: 20px;

  /*Permite a "quebra de linha"*/
  * {
    flex-basis: 30%;
    /*Fixar a largura de cada coluna*/
    flex-grow: 1;
    /*Permitir que ele expanda*/
    flex-shrink: 1;
    /*Permitir que ele reduza*/
  }
}

/*Formatação da tabela*/
.tabela1,
.tabela2,
.tabela3 {
  border-collapse: collapse;
  /*tira o espaçamento entre as celulas*/
  width: 100%;
  /*tamanho da tabela*/
  margin-top: 20px;
}

.tabela1 th {
  background-color: #aaa;
  border: 2px solid #aaa;
  text-align: center;
  /*alinhamento ao centro*/
}

/*alinha a coluna de preço do cabeçalho e corpo a direita*/
.tabela1 td:nth-child(3),
.tabela1 td:nth-child(3) {
  text-align: end;
}

.tabela1 td {
  border: 2px solid #ccc;
  padding: 8px;
}

.tabela1 tr {
  text-align: center;
}

/*formatação da tabela 2*/
.tabela2 th {
  text-align: start;
  border-bottom: 3px solid #aaa;
  padding: 8px;
}

.tabela2 td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

/*Formatação da tabela 3*/

.tabela3 th,
.tabela3 td {
  padding: 8px;
}

.tabela3 tr:nth-child(even) {
  background-color: #ccc;
}

.tabela3 th {
  text-align: start;
  background-color: #aaa;
}

.grid-convenios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  /*espaçamento entre os itens*/

  div {
    flex-basis: 17%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    margin-bottom: 30px;

  }

  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    /*tirar o negrito*/
  }

  i {
    font-size: 4rem;
    color: #293f5f;
    margin-top: 20px;

  }
}

/*formatação galeria*/
.Galeria-Destaque {
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px;
  /*top:30 direita:0 bottom:10 e left:0*/
  background-color: #333;

  img {
    width: 60%;
  }
}

.Galeria-Miniatura {
  display: flex;
  justify-content: space-between;

  img {
    width: 105px;
  }

  img:hover {
    cursor: pointer;
    /*altera o cursor*/


  }
}

.videos {
  text-align: center;

  video {
    width: 60%;
    height: auto;
  }
}

.contato {
  display: flex;
  gap: 2.0rem;

  div {
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  iframe {
    width: 100%;
    border-radius: 10px;
  }
}

label {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
  font-size: .8rem;
}

input[type=text],
input[type=email],
input[type=date],
input[type=time],
textarea {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

select {
  padding: 8px;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #3b5998;
  color: #fff;
  padding: 10px 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.agendamento {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  .form-group {
    display: flex;
    justify-content: space-between;
  }

  input[type=date],
  input[type=time] {
    padding: 8px;
  }

  input[type=submit] {
    margin-top: 30px;
  }
}

/* Media queries */

/* @media screen and (max-width: 800px) {
  header {
    background-color: yellow;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-color: red;
  }
}*/
@media screen and (max-width:768px) {

  .grid-home,
  .grid-clinica,
  .grid-convenios,
  .grid-especialidades,
  .contato,
  .social,
  .form-group {
    flex-direction: column;
    align-items: center;
  }

  .Card,
  iframe,
  .videos {
    width: 100%;
  }

  .social a {
    width: 100%;
    text-align: center;
  }
}